/* line 5, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 11, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
body {
  padding: 0;
  background-image: url("/images/forest.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 18, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 25, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.carousel-inner img {
  width: 100%;
  margin: auto;
}

/* line 30, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: black;
}

/* line 34, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.navbar .nav > li > a {
  color: #808080;
}

/* line 38, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.title {
  font: 400 3.5em/125% 'Italianno', Helvetica, 	Sans-serif;
  color: #333;
  text-size: 90px;
}

/* line 44, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.about h1 {
  font-family: 'Dancing Script', cursive;
  color: #0066cc;
}

/* line 49, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.about h3 {
  font-family: 'Dancing Script', cursive;
  color: #0066cc;
}

/* line 54, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.doula h1 {
  font-family: 'Dancing Script', cursive;
  color: #0066cc;
}

/* line 59, /home/slick/slickdevelopment/sfbirth/app/assets/stylesheets/pages.scss */
.services h1 {
  font-family: 'Dancing Script', cursive;
  color: #0066cc;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

