// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	margin: 0;
	padding: 0;
	height:100%;
}

body {
	padding: 0;
	background-image: url(image-path('forest.jpg'));
	background-repeat: no-repeat;
background-attachment: fixed;
	}

.img-fluid {
	height: auto;
	display: block;
  	max-width: 100%;
  	height: auto;
}

.carousel-inner img {
	width: 100%;
	margin: auto;
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar .nav > li > a {
	color: #808080;
}

.title {
	font: 400 3.5em/125% 'Italianno', Helvetica, 	Sans-serif;
	color: #333;
	text-size: 90px;
}

